﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<h4>Create a new account.</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.FirstName"></label>
				<input asp-for="Input.FirstName" class="form-control" />
				<span asp-validation-for="Input.FirstName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Input.LastName"></label>
				<input asp-for="Input.LastName" class="form-control" />
				<span asp-validation-for="Input.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Password"></label>
				<input asp-for="Input.Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary">Register</button>
		</form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Lorem ipsum</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et justo nunc. Ut mi tortor, tempus et metus nec, volutpat fermentum purus. 
                            Curabitur fringilla commodo congue. Donec in convallis arcu, et varius enim. Vivamus fringilla vitae justo sed varius. 
                            Phasellus et gravida mi, ut tincidunt est.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
